@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


::-webkit-scrollbar{
  width: 10px;
  background-color: #1f1f1f61;

}

::-webkit-scrollbar-thumb{
  background-color: #5a5a5a;
  height: 50px;
  border-radius: 10px;
}
